<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/9cf9fe1b-dec1-45a2-88fc-c51c0c466110/resourceGroups/UnityGroup/providers/Microsoft.Web/sites/ftb-api</ResourceId>
    <ResourceGroup>UnityGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://ftb-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ddd0de22-cac0-46e2-b61e-0184b978543a</ProjectGuid>
    <PublishUrl>https://ftb-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ftb-api</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>